/*
 * Styles
 *
 * @author Rogier van der Linde
 */








/* COMMON */
/* ====== */

/* reset */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* elements */ 

a {
   color: #6b9;   
   text-decoration: none;
   transition: 0.3s color;
}

a:hover {
   color: #333;
}

button {
   border: none;
   cursor: pointer;
}

h2, h3, h4, h5, h6 {
   font-weight: normal;
   color: #597;
}

h2 {
   margin-bottom: 20px;
   text-transform: uppercase;
}

h3 {
   margin-bottom: 18px;
}

img {
   max-width: 100%;
}

input {
   border: 1px solid #bbafaf;
   padding: 8px 16px;
   width: 100%;
} 

p {
   margin-bottom: 20px;
}

/* classes */ 

.button {
   background-color: #6b9;   






}

.button:hover {
   background-color: #e54;
}

.button--more::after {
   content: "→";
   margin-left: 5px;
}









.pright {
   text-align: right;
}

.wrapper {
   margin: 0 auto;
   max-width: 960px;
}

/* HEADER */
/* ====== */

header {
   box-shadow: rgb(247, 247, 247) 0px 5px 3px;
   padding: 30px 0;
}

header > .wrapper {
   align-items: flex-start;
   display: flex;
   justify-content: space-between;
}

.header__right {
   align-items: flex-end;
   display: flex;
   flex-direction: column;
}

h1 {
   line-height: 1;
}

#logo__text {
   color: #E14F43;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 60px;
   font-weight: normal;
}

#logo__tagline {
   color: #666;
   display: block;
   font-size: 12px;
   font-weight: 300;
}

/* navigation */

nav ul {
   display: flex;
   list-style: none;
   margin-top: 25px;
}

nav a {
   color: #999;
   display: inline-block;
   padding: 0 10px;
}

nav a.active,
nav a:hover {
   color: #333;
}

nav li + li::before {
	color: #e54;
	content: '✦';
} 

/* MAIN */
/* ==== */

/* banner */

#banner {
   align-items: center;
   background-color: #333;
   background-image: url(../img/banner.jpg);
   background-position: center center;
   background-size: cover;
   display: flex;
   height: 260px;      
   justify-content: flex-end;
} 

#banner .box {
   background-color: #000;
   background-color: rgba(0, 0, 0, 0.7);
   color: #ccc;
   font-style: italic;
   padding: 20px 40px 0 40px;
   width: 50%;
}

/* about */

#about {
   border-bottom: 1px solid #c2c2c2;
   padding: 50px 0;
}

#about .cols {
   display: flex;
	gap: 4%;
   justify-content: space-between;
}

#about .cols > div {
   flex: 1 1 0;
}

#about .cols .left img {
   float: left;
   margin-bottom: 20px;
   margin-right: 20px;
   width: 220px;
}

/* events */

#events {
   padding: 50px 0;
}

#latest {
   list-style: none;
}

#events .cols {
   display: flex;
	gap: 20px;
   justify-content: space-between;
}

#events .cols .left {
	flex: 0 0 230px;
}

#events .cols .right {
	flex: 1 1 0;
}

.event {
   align-items: flex-start;
   display: flex;
	gap: 10px;
   justify-content: space-between;
}

.event .date {
   background-color: #6b9;
   color: #fff;
	flex: 0 0 55px;
   font-size: 16px;
   padding: 5px;
   text-align: center;
}

.event .date span {
   display: block;
}

.event .details {
	flex: 1 1 0;;
}

.event h4 {
	font-style: italic;
}

/* testimonials */

































/* gallery */

#gallery {
	display: grid;
   gap: 10px;
   grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

#gallery img {
   border: 8px solid #efefef;
}

/* DOORMAT */
/* ======= */

#doormat {
   background-color: #ccc;
}

#doormat > .wrapper {
   display: flex;
}

#doormat .left {
	flex: 1 1 0;
   padding: 50px;
   padding-left: 0;
}

#doormat .right {
	flex: 1 1 0;
   padding: 50px;
   padding-right: 0;
}

#doormat .left form label {
   display: none;
}

#doormat .left form ::placeholder {
   color: #aaa;
   font-style: italic;
}

#doormat h3 {
	border-bottom: 1px dashed #597;
	padding-bottom: 5px;
	width: fit-content;
}

























/* FOOTER */
/* ====== */

footer .wrapper {
	display: flex;
	justify-content: space-between;
}

small span {
	font-weight: bold;
}

footer p, small {
   font-size: 12px;
   margin: 0;
} 

footer a {
   color: #e54;
}

footer > .wrapper {
   padding: 30px 0 60px 0;
} 

