/*
 * Jouw oplossing hier
 *
 * @author Jouw Naam <jouw.email@student.odisee.be>
 */

/* 1. algemene tekst */

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

/* 2. buttons */

.button.header__button {
    color: white;
   padding: 5px 10px;
   text-decoration: none;
}

/* 3. sociale media menu */

#social ul {
    display: flex;
}



/* 4. testimonials */

h3 {
    background-color: green;
    
}
