/* stylelint-disable no-duplicate-selectors */

/* deel 1: start CSS */

* {
   margin: 0;
   padding: 0;
}

html {
   background-color: #fff;
}

body {
   border: 10px solid white;
   height: 600px;
   margin: 20px auto;
   max-width: 300px;
   padding: 40px 100px;
}

h1 {
   margin-top: 30px;
}

main {
   padding-top: 30px;
}

mark {
   background-color: transparent;
}

footer {
   margin-top: 35px;
}

/* deel 2: achtergronden */
html {
    background-image: url("img/tile.png");
}
body {
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* deel 3: lettertypes */
body {
    font-family: Arial, Helvetica, sans-serif
    font-style: italic;
    color: blue;
}

h1 {
    font-family: "Caveat", cursive;
}

body {
    font-family: "Indie Flower", cursive;
}

/* deel 4: tekstopmaak */
h1 {
    text-align: center;
    font-size: 40px;
    color: grey;
}
  
body {
    color: blue;
    font-size: 25px;
}
footer {
    text-align: right;    
}

.date {
    font-size: 18px;
}
span {
    color: red;
}

/* deel 5: schaduwen */
mark {
    color: black;
  background-color: #fddde6;
  border-radius: 4px;
  padding: 0 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
    

